* {
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
a {
	color: rgb(255,255,255);
}
body {
	font-family: sans-serif;
	padding: 5rem 15%;
	letter-spacing: 0.05rem;
	line-height: 1.4;
	color: rgb(60,60,60);
	background-color: rgb(245,245,245);
}
section a {
	display: block;
	position: relative;
	height: 10rem;
	overflow: hidden;
	margin: 1rem 0;
	border-radius: 0.5rem;
	text-decoration: none;
}
header {
	position: absolute;
	width: min-content;
	white-space: nowrap;
	padding: 1rem;
	padding-right: 10vw;
	color: rgb(255,255,255);
	transition: all 200ms ease;
}
section header {
	height: 100%;
	background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
}
a:hover, a:hover header {
	text-decoration: underline;
}
h1 {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 300;
}
a img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 25%;
	z-index: -1;
	transition: all 200ms ease;
}
section a:hover img {
	transform: scale(1.02);
}
nav {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
#close {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 300;
	width: min-content;
	margin-right: 0.5rem;
}
nav a {
	color: rgb(60,60,60);
	font-size: 1.2rem;
}